AI_Basic/.ipynb_checkpoints/01_variables and list-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/02_Function and Console IO-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/03_Conditionals and Loops-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/04._String and advanced function concept-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/05_python data structure-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/06_중요_pythonic code-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/09_중요_Exception_File_LogHandling-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/10_Python Data Handling-checkpoint.ipynb
AI_Basic/dataset/전국+유동인구+현황.xls
