AI_Basic/.ipynb_checkpoints/01_variables and list-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/02_Function and Console IO-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/03_Conditionals and Loops-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/04._String and advanced function concept-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/05_python data structure-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/06_중요_pythonic code-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/09_중요_Exception_File_LogHandling-checkpoint.ipynb
AI_Basic/.ipynb_checkpoints/10_Python Data Handling-checkpoint.ipynb
AI_Basic/dataset/전국+유동인구+현황.xls
AI_Basic/04-기초튼튼_수학튼튼_pandas_시각화/.ipynb_checkpoints/02-딥러닝 학습방법 이해하기-checkpoint.ipynb
AI_Basic/04-기초튼튼_수학튼튼_pandas_시각화/.ipynb_checkpoints/다시01-pandas1-checkpoint.ipynb
AI_Basic/03-수학 기초 첫걸음/.ipynb_checkpoints/02-벡터가 무엇인가-checkpoint.ipynb
AI_Basic/03-수학 기초 첫걸음/.ipynb_checkpoints/03-행렬이란-checkpoint.ipynb
AI_Basic/03-수학 기초 첫걸음/.ipynb_checkpoints/04-경사하강법(순한맛)-checkpoint.ipynb
AI_Basic/03-수학 기초 첫걸음/.ipynb_checkpoints/다시01-Numpy란-checkpoint.ipynb
AI_Basic/03-수학 기초 첫걸음/.ipynb_checkpoints/다시-05.경사하강법(매운맛)-checkpoint.ipynb
